[submodule "DRAMsim3"]
	path = DRAMsim3
	url = git@github.com:OpenXiangShan/DRAMsim3.git
[submodule "examples/soc/rocket-chip"]
	path = examples/soc/rocket-chip
	url = git@github.com:Emin017/rocket-chip.git
